{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/headers.css' %}">
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#"/></svg>
            </a>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
            <li><a class="nav-link" href="{% url 'list' %}">Ver productos</a></li>
            <li>
            {% if  user.is_authenticated %}
            {% if user.is_staff %}
                <a class="nav-link" href="{% url 'create' %}">Crear Producto</a>
            {% endif %}
            {% if not user.is_staff %}
            <a class="nav-link" href="{% url 'cart:cart' %}">Ver carrito</a>
            {% endif %}
            {% endif %}
            </li>

          </ul>
    
          <div class="col-md-3 text-end">
            {% if not user.is_authenticated %}
            <a href="/user/login/"><button type="button" class="btn btn-outline-primary me-2">Ingresar</button></a>
            {% else %}
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary me-2">Salir</button></a>
            {% endif %}
            {% if not user.is_authenticated %}
            <a href="{% url 'singup' %}"><button type="button" class="btn btn-primary">Registrarse</button></a>
            {% endif %}
          </div>
        </header>
      </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>