{% extends "templates/base.html" %}
{% block content %}
<div class="login-container">
    <form class="login-form" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">E-mail, teléfono o usuario</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            {{ form.password }}
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-block btn-primary">Continuar</button>
        </div>
        <div class="d-grid gap-2">
            <a href="{% url 'singup' %}" class="btn btn-block btn-outline-secondary">Crea tu cuenta</a>
        </div>
    </form>
</div>
{% if messages %}
    {% for message in messages %}
    <div class="notification {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
