{% extends "templates/base.html" %}

{% block content %}
    <h2>Carrito de compras</h2>
    {% if user.is_authenticated %}
        {% if not user.is_staff %}    
            {% if cart_items %}
                <div class="customer-info box">
                    <h3>Información del usuario:</h3>
                    <p>Nombre: {{ customer.username }}</p>
                    <p>Correo: {{ customer.email }}</p>
                    <p>Celular: {{ customer.phone_number }}</p>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio por unidad</th>
                            <th>Precio por cantidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.product.price }}</td>
                                <td>{{ item.get_total_price }}</td>
                                <td><a href="{% url 'cart:remove_from_cart' item.product.id %}">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <form id="box_size_form">
                    <label for="box_size">Seleccione el tamaño de su caja:</label>
                    <select id="box_size" name="box_size">
                        <option value="Caja pequeña (5 productos)">Caja pequeña (5 productos)</option>
                        <option value="Caja mediana (10 productos)">Caja mediana (10 productos)</option>
                        <option value="Caja grande (20 productos)">Caja grande (20 productos)</option>
                    </select>
                <div class="form-group">
                    <a href="{% url 'cart:order' %}"  onclick="guardarOpcion()" class="btn btn-primary">Verificar</a>
                </div>
                
                </form>
            
                <script>
                    function guardarOpcion() {
                        var selected_box = document.getElementById("box_size").value;
                        localStorage.setItem("selected_box", selected_box);
                        window.location.href = "/shopping-cart/order/";
                    }
                </script>

                
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
