{% extends "templates/base.html" %}

{% block content %}
    <h2>Shopping Cart</h2>
    {% if user.is_authenticated %}
        {% if not user.is_staff %}    
            {% if cart_items %}
                <div class="customer-info box">
                    <h3>Customer Information:</h3>
                    <p>Name: {{ customer.username }}</p>
                    <p>Email: {{ customer.email }}</p>
                    <p>Phone: {{ customer.phone_number }}</p>
                    <p>Address: {{ customer.address }}</p>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.product.price }}</td>
                                <td>{{ item.get_total_price }}</td>
                                <td><a href="{% url 'cart:remove_from_cart' item.product.id %}">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <label for="box_size">Select Box Size:</label>
                    <select id="box_size" name="box_size">
                        <option value="5">Small Box (5 products)</option>
                        <option value="10">Medium Box (10 products)</option>
                        <option value="20">Large Box (20 products)</option>
                    </select>

                <a href="{% url 'cart:order' %}" class="btn btn-primary">Checkout</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
