{% extends 'templates/base.html' %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <h1>Detalles de la orden</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.get_total_price }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td><b>Total</b></td>
        <td>{{ total_quantity }}</td>
        <td><b>${{ total_price }}</b></td>
      </tr>
    </tbody>
  </table>
  <h3>Información de entrega:</h3>
  <p>Nombre: {{ customer.username }}</p>
  <p>Dirección de entrega: {{ customer.address }}</p>

  <h5>Tamaño de caja:</h5>
  {% if total_quantity <= 10 %}
    <p>Caja pequeña: máximo 10 productos</p>
  {% elif total_quantity <= 20 %}
    <p>Caja mediana: máximo 20 productos</p>
  {% elif total_quantity <= 30 %}
    <p>Caja grande: máximo 30 productos</p>
  {% endif %}

  <p>Total a pagar: ${{ total_price }}</p>
  <form action="{% url 'cart:order_confirmation' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirmar Orden</button>
  </form>
  <a href="{% url 'cart:cart' %}" class="btn btn-danger">Cancelar Orden</a>
  <p><a href="{% url 'list' %}">Seguir comprando</a></p>

{% endblock %}