{% extends "templates/base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Producto</title>
  </head>
  {% block content %}
  <body>
    <form method="POST">
      {% csrf_token %}

      {{ form  }}

      <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-info" type="submit" style="background-color= #97D2FB;">Guardar</button>
      </div>
      </form>
  </body>
  {% endblock %}
</html>
