{% extends "templates/base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Producto</title>
  </head>
  {% block content %}
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <form method="POST" class="row gy-2 gx-3 align-items-center" enctype="multipart/form-data">
          {% csrf_token %}

          {{ form  }}

          <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-info mb-4" type="submit" style="background-color= #97D2FB;">Guardar</button>
          </div>
          </form>
        </div>
      </div>
    </div>

  </body>
  {% endblock %}
</html>
